{% extends './layout.html' %}

{% block title %}Wrapped{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Your Top Artists</h5>

        <!-- Carrusel -->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {{ indicators|safe }} <!-- Aquí insertamos los indicadores -->
            </div>
            <div class="carousel-inner">
                {{ items|safe }} <!-- Aquí insertamos los elementos del carrusel -->
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
