{% extends './layout.html' %}

{% block title %}Wrapped{% endblock %}

{% block body %}
<!-- Carrusel para los Top Artistas -->
<div class="title-container">
  <h1>Top 10 Artistas más escuchados</h1>
</div>
<div class="d-flex justify-content-center">
  <div id="carouselArtists" class="carousel slide carousel-fade w-50" data-bs-ride="carousel">
    <div class="carousel-indicators" id="indicators-artists"></div>
    <div class="carousel-inner" id="items-artists"></div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselArtists" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselArtists" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Carrusel para los Top Tracks -->
<div class="title-container">
  <h1>Top 10 Canciones más escuchadas</h1>
</div>
<div class="d-flex justify-content-center">
  <div id="carouselTracks" class="carousel slide carousel-fade w-50" data-bs-ride="carousel">
    <div class="carousel-indicators" id="indicators-tracks"></div>
    <div class="carousel-inner" id="items-tracks"></div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTracks" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTracks" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Lista de géneros -->
<div class="title-container mt-5">
  <h1>Top 10 Géneros más escuchados</h1>
</div>
<div class="d-flex justify-content-center">
  <div id="top-genres-badges" class="d-flex flex-wrap justify-content-center">
    <!-- Los géneros más escuchados serán insertados aquí dinámicamente -->
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Fetch top artists
  fetch('/top-artists')
    .then(response => response.json())
    .then(data => {
      document.getElementById('indicators-artists').innerHTML = data.indicators;
      document.getElementById('items-artists').innerHTML = data.items;
    });

  // Fetch top tracks
  fetch('/top-tracks')
    .then(response => response.json())
    .then(data => {
      document.getElementById('indicators-tracks').innerHTML = data.indicators;
      document.getElementById('items-tracks').innerHTML = data.items;
    });
});
// Fetch top genres
fetch('/top-genres')
  .then(response => response.json())
  .then(data => {
    let genresBadges = document.getElementById('top-genres-badges');
    data.forEach(function(genre) {
      const span = document.createElement('span');
      span.classList.add('badge', 'bg-primary', 'm-1', 'p-3');
      span.textContent = `${genre[0]} `;
      genresBadges.appendChild(span);
    });
  });
</script>

{% endblock %}
